Repository pointnetwork/point-chain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evmos/core-engineering, @danburck, @ramacarlucho, @hanchon

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary (global) repo maintainers
*       @evmos/core-engineering

# Documentation
docs/ @danburck

# Point Modules
x/claims/ @ramacarlucho
x/epochs/ @ramacarlucho
x/erc20/ @ramacarlucho @hanchon
x/revenue/ @ramacarlucho
x/incentives/ @ramacarlucho
x/inflation/ @ramacarlucho
x/recovery/ @ramacarlucho
x/vesting/ @ramacarlucho

fixes
  ibc/utils.go
  x/erc20/client/cli/tx.go
  x/incentives/client/cli/tx.go
Owners: @evmos/core-engineering, @ramacarlucho, @hanchon

fix references
  app/test_helpers.go
Owners: @evmos/core-engineering

fix constructor
  testutil/network/network.go
Owners: @evmos/core-engineering

fix root.go
  cmd/evmosd/root.go
Owners: @evmos/core-engineering

fix package
  cmd/evmosd/cmd_test.go
Owners: @evmos/core-engineering

change repo
  app/upgrades/v2/constants.go
  app/upgrades/v4/constants.go
  app/upgrades/v5/constants.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v7/constants.go
  app/upgrades/v8/constants.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v9/constants.go
Owners: @evmos/core-engineering

Update utils.go
  types/utils.go
Owners: @evmos/core-engineering

All tests chainId fixed
  app/ante/utils_test.go
  cmd/pointd/cmd_test.go
  cmd/pointd/init.go
  ibc/testing/chain.go
  init.bat
  types/utils.go
  x/claims/keeper/keeper_test.go
  x/epochs/keeper/keeper_test.go
  x/erc20/genesis_test.go
  x/erc20/keeper/keeper_test.go
  x/feesplit/genesis_test.go
  x/feesplit/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/keeper_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/keeper_test.go
  x/vesting/keeper/keeper_test.go
Owners: @evmos/core-engineering, @ramacarlucho, @hanchon

Fix some Evmos mentions
  cmd/pointd/migrate.go
  cmd/pointd/root.go
  docs/developers/guides/wallet_integration.md
  docs/developers/localnet/single_node.md
  docs/validators/testnet.md
Owners: @evmos/core-engineering, @danburck

Update VALIDATORS.md
  VALIDATORS.md
Owners: @evmos/core-engineering

Update unjail.md
  unjail.md
Owners: @evmos/core-engineering

Update validator_ubound.md
  validator_ubound.md
Owners: @evmos/core-engineering

Update faq.md
  faq.md
Owners: @evmos/core-engineering

Update faq.md
  faq.md
Owners: @evmos/core-engineering

Update VALIDATORS.md
  VALIDATORS.md
Owners: @evmos/core-engineering

Fix MD styles
  VALIDATORS_DEBUGGING.md
  unjail.md
Owners: @evmos/core-engineering

Fix MD style
  validator_ubound.md
Owners: @evmos/core-engineering

Fix MD style for linter
  docs/developers/explorers.md
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
  unjail.md
Owners: @danburck, @evmos/core-engineering

Fix dead links
  docs/users/technical_concepts/pending_state.md
Owners: @danburck

Update pending_state.md
  docs/users/technical_concepts/pending_state.md
Owners: @danburck

Fix app evmos to point (#67)
  VALIDATORS.md
  VALIDATORS_DEBUGGING.md
  app/ante/utils_test.go
  cmd/pointd/cmd_test.go
  cmd/pointd/init.go
  cmd/pointd/migrate.go
  cmd/pointd/root.go
  docs/developers/explorers.md
  docs/developers/guides/wallet_integration.md
  docs/developers/localnet/single_node.md
  docs/users/technical_concepts/pending_state.md
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
  faq.md
  ibc/testing/chain.go
  init.bat
  types/utils.go
  unjail.md
  validator_ubound.md
  x/claims/keeper/keeper_test.go
  x/epochs/keeper/keeper_test.go
  x/erc20/genesis_test.go
  x/erc20/keeper/keeper_test.go
  x/feesplit/genesis_test.go
  x/feesplit/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/keeper_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/keeper_test.go
  x/vesting/keeper/keeper_test.go
Owners: @evmos/core-engineering, @danburck, @ramacarlucho, @hanchon

cosmossdk 0.45.9 update in progress
  go.mod
  go.sum
Owners: @evmos/core-engineering

Update ethermint version to 0.19.3
  go.mod
  go.sum
Owners: @evmos/core-engineering

Update root.go
  cmd/pointd/root.go
Owners: @evmos/core-engineering

testnet scripts
  go.sum
  init_point_local_test.sh
  init_point_xnet_uranus.sh
Owners: @evmos/core-engineering

Fix rename app to Point
  CHANGELOG.md
  VALIDATORS.md
  VALIDATORS_DEBUGGING.md
  app/ante/utils_test.go
  app/app.go
  app/export.go
  app/forks.go
  app/sigverify.go
  app/test_helpers.go
  app/upgrades/v4/upgrades_test.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/upgrades_test.go
  app/upgrades/v7/upgrades_test.go
  app/upgrades/v8/upgrades_test.go
  cmd/pointd/root.go
  testutil/network/network.go
  x/claims/genesis_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/keeper_test.go
  x/epochs/keeper/keeper_test.go
  x/erc20/genesis_test.go
  x/erc20/keeper/keeper_test.go
  x/feesplit/genesis_test.go
  x/feesplit/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/keeper_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/keeper_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
Owners: @evmos/core-engineering, @ramacarlucho, @hanchon

Update VALIDATORS.md
  VALIDATORS.md
Owners: @evmos/core-engineering

Update VALIDATORS_DEBUGGING.md
  VALIDATORS_DEBUGGING.md
Owners: @evmos/core-engineering

Update VALIDATORS.md
  VALIDATORS.md
Owners: @evmos/core-engineering

Naming fixes
  app/app.go
  app/app_test.go
  app/test_helpers.go
  cmd/pointd/root.go
  go.sum
  testutil/network/network.go
Owners: @evmos/core-engineering

v003 to v100 merge pull request (#73)
  CHANGELOG.md
  VALIDATORS.md
  cmd/pointd/root.go
  go.mod
  go.sum
  init_point_local_test.sh
  init_point_xnet_uranus.sh
Owners: @evmos/core-engineering

ibc-go v3.3.0
  go.mod
  go.sum
Owners: @evmos/core-engineering

004to100 (#75)
  go.mod
  go.sum
Owners: @evmos/core-engineering

Naming fixes (#74)
  app/app.go
  app/app_test.go
  app/test_helpers.go
  cmd/pointd/root.go
  go.sum
  testutil/network/network.go
Owners: @evmos/core-engineering

Patch x/recovery in v0.0.5
  app/app.go
  app/forks.go
  app/upgrades/point_v5/constants.go
  app/upgrades/point_v5/upgrades.go
  types/utils.go
  x/recovery/keeper/ibc_callbacks.go
Owners: @evmos/core-engineering, @ramacarlucho

Fix upgrade height
  app/upgrades/point_v5/constants.go
Owners: @evmos/core-engineering
